@{
    ViewData["Title"] = "Company Information";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the Company</h2>
    <p>View company news/information here.</p>
</div>

<div>
    <form asp-action="Index">
            <div class="form-group">
                <input type="submit" value="Back to Home" class="btn btn-primary" />
            </div>
    </form>
</div>