@{
    ViewData["Title"] = "Administrator Home";
}

<div class="text-left">
    <form asp-action="ShowCreateEmployer">
        <div class="form-group">
            <input type="submit" value="Create Employer" class="btn btn-primary" />
        </div>
    </form>
    <form asp-action="ShowCreateEmployee">
        <div class="form-group">
            <input type="submit" value="Create Employee" class="btn btn-primary" />
        </div>
    </form>
    <form asp-action="EmployUser">
        <div class="form-group">
            <input type="submit" value="Employ New Employee" class="btn btn-primary" />
        </div>
    </form>
</div>
